

@import './_variables.scss';

// Override Bootstrap defaults.
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// Override the Boostrap primary color to a shade of purple.
// This needs to be set first before loading Bootstrap.
$theme-colors: (
  primary: $accent-color
);

@import '~bootstrap/scss/bootstrap';


* {
    box-sizing: border-box;
}

html {
    // Set this explicitly so that we can use REM units.
    // 1 REM is 18 pixels.
    font-size: 18px;
}

body {
    background-color: $dark-theme-background;
}

label {
    color: $accent-color-light;
}

#status-notification-message-area {
    background-color: $accent-color;
    border: .2rem solid $accent-color-light;
    border-radius: 1rem;    
    font-size: 1.25rem;
    height: 25%;
    margin: 2rem auto 2rem auto;
    padding: 1.1rem;
    text-align: center;
    width: 50%;
}

.container {
    margin: 0 auto;
}

#game-options_flex-column-div {
    align-items: center;    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// Desktop
@media (min-width: $minDesktopWidthInPixels) {
    .img--placeholder {
        background-color: whitesmoke;
        height: 20%;
        margin: 3rem auto;
        width: 20%;

        img {
            height: 100%;
            margin: 0 auto;
            width:100%;
        }
    }

    form {
        // Center our forms.
        margin: 0 auto;   
        width:25%;
    }

    // These are the buttons on the home screen and the game board screen.
    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        margin: 1.5rem;

        button {
            display: inline-block;
            margin: 0 1.5rem;
        }
    }

    // Centers the gameboard and restricts its width.
    #board-container {
        margin: 0 auto;  
        width:40%;
    }

    // Sets the for each gameboard cell/
    div.col {
        height: 7rem;
        width: 7rem;
    }

    // The pre-loaded X and O images for the game board to be cloned
    // and copied when a game board cell is clicked. 
    .x-image, .o-image {
        display: none;
        height: 100%;
        width: 80%;        
    }

    // I am sure that there is a better way to do this, but CSS
    // is not my wheelhouse.
    #gameboard-cell-0 {
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
    }

    #gameboard-cell-1 {
        border-bottom: 0;
        border-left: $gameboard-border-thickness;
        border-right: $gameboard-border-thickness;
        border-top: 0;
        border-style: solid;
        border-color: $gameboard-border-color;       
    }   

    #gameboard-cell-2 {
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
    }   
    
    #gameboard-cell-3 {
        border-bottom: $gameboard-border-thickness;
        border-left: 0;
        border-right: 0;
        border-top: $gameboard-border-thickness;
        border-style: solid;
        border-color: $gameboard-border-color;       
    }  

    #gameboard-cell-4 {
        border-bottom: $gameboard-border-thickness;
        border-left: $gameboard-border-thickness;
        border-right: $gameboard-border-thickness;
        border-top: $gameboard-border-thickness;
        border-style: solid;
        border-color: $gameboard-border-color;         
    }        

    #gameboard-cell-5 {
        border-bottom: $gameboard-border-thickness;
        border-left: 0;
        border-right: 0;
        border-top: $gameboard-border-thickness;
        border-style: solid;
        border-color: $gameboard-border-color;   
    }    
    
    #gameboard-cell-6 {
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
    }    
    
    #gameboard-cell-7 {
        border-bottom: 0;
        border-left: $gameboard-border-thickness;
        border-right: $gameboard-border-thickness;
        border-top: 0;
        border-style: solid;
        border-color: black;         
    }        

    #gameboard-cell-8 {
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
    } 
}